<!DOCTYPE html>
<html data-ng-app="steadyApp">
  <head>
    <title>Steadytown Journal</title>
    <script src="moment.js"></script>
    <script src="superagent.js"></script>
    <script src="bluebird.js"></script>
    <script src="papaparse.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.js"></script>
    <link rel="stylesheet" href="index.css" />
    <meta name="description" content="Follow Steadytown's activity">
  </head>
  <body>
    <h1>Steadytown</h1>
    <div id="rules" class="hidden">
      <p>
      </p>
    </div>
    <div id="journal" data-ng-controller="JournalCtrl">
      <h2>Journal Finder</h2>
      <form data-ng-submit="journal.find()">
        <label>
          Business Unit: <select id="unit" data-ng-model="journal.unit" data-ng-options="u for u in units"></select>
        </label>
        <label>
          Fund: <select id="fund" data-ng-model="journal.fund" data-ng-options="f for f in funds"></select>
        </label>
        <label>
        From: <input type="date" id="from" data-ng-model="journal.from" />
        </label>
        <label>
          To: <input type="date" id="to" data-ng-model="journal.to" />
        </label>
        <input type="submit" value="Find" />
      </form>
      <div id="results" data-ng-show="journal.resultsLoaded">
        <div id="debits">
          <h3>Debits</h3>
          <table>
            <tr data-ng-repeat="account in journal.debits">
              <td>{{ account.name }}</td><td>{{ account.type }}</td><td>{{ account.total }}</td>
            </tr>
          </table>
        </div>
        <div id="credits">
          <h3>Credits</h3>
          <table>
            <tr data-ng-repeat="account in journal.credits">
              <td>{{ account.name }}</td><td>{{ account.type }}</td><td>{{ account.total }}</td>
            </tr>
          </table>
        </div>
    </div>
    <div id="motel" data-ng-controller="MotelCtrl">
      <h2>Motel Entry Generator</h2>
      <form data-ng-submit="motel.generate()">
        <label>
          Fund: <select id="fund" data-ng-model="motel.fund" data-ng-options="f for f in funds"></select>
        </label>
        <label>
          Motel: <input type="text" id="name" data-ng-model="motel.name" />
        </label>
        <label>
          Amount: <input type="number" id="amount" step="0.01" data-ng-model="motel.amount" />
        </label>
        <label>
          Check In: <input type="date" id="checkin" data-ng-model="motel.checkin" />
        </label>
        <label>
          Check Out: <input type="date" id="checkout" data-ng-model="motel.checkout" />
        </label>
        <label>
          Family: <input type="number" id="family" data-ng-model="motel.family" />
        </label>
        <label>
          Location: <input type="text" id="location" data-ng-model="motel.location" />
        </label>
        <label>
          Tx: <input type="number" id="tx" data-ng-model="motel.tx" />
        </label>
        <input type="submit" value="Generate" />
      </form>
      <div id="entries" data-ng-show="motel.entries">
        <h3>Results</h3>
        <table>
          <tr>
            <th>number</th><th>date</th><th>debit</th><th>credit</th><th>type</th><th>account</th>
            <th>norm</th><th>businessUnit</th><th>fund</th><th>function</th><th>program</th>
            <th>beneficiary</th><th>payee</th><th>memo</th><th>location</th><th>employee</th>
            <th>donor</th><th>microloan</th><th>tx</th><th>reconciled</th><th>enteredBy</th>
          </tr>
          <tr data-ng-repeat="entry in motel.entries">
            <td>{{ entry.number }}</td><td>{{ entry.date }}</td>
            <td>{{ entry.debit }}</td><td>{{ entry.credit }}</td>
            <td>{{ entry.type }}</td><td>{{ entry.account }}</td>
            <td>{{ entry.norm }}</td><td>{{ entry.businessUnit }}</td><td>{{ entry.fund }}</td>
            <td>{{ entry.function }}</td><td>{{ entry.program }}</td>
            <td>{{ entry.beneficiary }}</td><td>{{ entry.payee }}</td>
            <td>{{ entry.memo }}</td><td>{{ entry.location }}</td>
            <td></td><td></td><td></td><td>{{ entry.tx }}</td>
            <td></td><td>{{ entry.enteredBy }}</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
<script>

function twoDecimals(amount) {
  return (Math.round(amount * Math.pow(10, 2)) / Math.pow(10,2)).toFixed(2);
}

var steadyApp = angular.module("steadyApp", []);

steadyApp.controller("JournalCtrl", function ($scope) {

  var journal = {};
  journal.from = new Date(2013, 6, 1);
  journal.to = new Date(2014, 5, 30);
  journal.unit = "All";
  journal.fund = "All";
  journal.resultsLoaded = false;

  journal.find = function() {

    var url = "http://127.0.0.1:28017/steadytown/journal/";
    var req = window.superagent;

    function toNumber(txt) {
      return parseFloat(txt.replace(/\$|,/g, ''));
    }

    var dataAsync = new Promise(function(resolve, reject) {
      req
        .get(url)
        .end(function(res) {
          var content = JSON.parse(res.text).rows;
          _.forEach(content, function(row) {
            row.number = parseInt(row.number);

            var fields = row.date.split("/");
            var newDate = new Date(2000 + parseInt(fields[2]),
              parseInt(fields[0] - 1), parseInt(fields[1]));
            row.date = newDate;

            if (row.debit) {
              row.debit = toNumber(row.debit);
            }
            if (row.credit) {
              row.credit = toNumber(row.credit);
            }
            if (row.Beneficiary) {
              row.beneficiary = parseInt(row.beneficiary);
            }
          });
          var result = _.sortBy(content, function(row) {
            return row.date.getTime();
          });
          resolve(result);
        });
    });

    dataAsync.then(function(data) {
      return _.filter(data, function(row) {
        return (journal.unit == "All" || journal.unit == row.businessUnit) &&
          (journal.fund == "All" || journal.fund == row.fund) &&
          row.date >= journal.from && row.date <= journal.to;
      });
    }).then(function(data) {
      function totalAmount(entries) {
        var total = 0;
        if (entries[0].norm == "Debit") {
          _.forEach(entries, function(e) {
            if (e.credit == "") {
              total += e.debit;
            } else {
              total -= e.credit;
            }
          });
        } else {
          _.forEach(entries, function(e) {
            if (e.debit == "") {
              total += e.credit;
            } else {
              total -= e.debit;
            }
          });
        }
        return twoDecimals(total);
      }
      return _.chain(data)
        .groupBy("account")
        .map(function(entries) {
          return { name: entries[0].account, norm: entries[0].norm,
            type: entries[0].type, total: totalAmount(entries) };
        }).sortBy("type").value();
    }).then(function(accounts) {
      var debits = _.filter(accounts, function(a) {
        return a.norm == "Debit";
      });
      var credits = _.filter(accounts, function(a) {
        return a.norm == "Credit";
      });
      return [debits, credits];
    }).then(function(results) {
      $scope.$apply(function() {
        journal.debits = results[0];
        journal.credits = results[1];
        journal.resultsLoaded = true;
      });
    });

  }

  $scope.journal = journal;
  $scope.units = [ "All", "Steady Family", "Steady Savings" ];
  $scope.funds = [ "All", "General", "BSF 2013-14" ];

});

steadyApp.controller("MotelCtrl", function ($scope) {

  var motel = {}
  motel.fund = "BSF 2013-14";
  motel.checkin = moment(new Date()).startOf("day").toDate();
  motel.checkout = moment(motel.checkin).add(7, "days").toDate();

  motel.createAsset = function(args) {
      this.entry += 1;
      return {
        number: this.entry,
        date: args.date.format("M/D/YY"),
        debit: args.debit,
        credit: args.credit,
        type: "Asset",
        account: args.account,
        norm: "Debit",
        businessUnit: "Steady Family",
        fund: this.fund,
        function: "",
        program: "",
        beneficiary: "",
        payee: "",
        memo: "",
        location: "",
        employee: "",
        donor: "",
        microloan: "",
        tx: this.tx,
        reconciled: "",
        enteredBy: "keith"
      }
  }

  motel.createMotelExpense = function(args) {
      this.entry += 1;
      return {
        number: this.entry,
        date: args.date.format("M/D/YY"),
        debit: args.debit,
        credit: "",
        type: "Expense",
        account: "Motel",
        norm: "Debit",
        businessUnit: "Steady Family",
        fund: this.fund,
        function: "Emergency Housing",
        program: "Diversion",
        beneficiary: this.family,
        payee: this.name,
        memo: "night of " + args.date.format("M/D"),
        location: this.location,
        employee: "",
        donor: "",
        microloan: "",
        tx: this.tx,
        reconciled: "",
        enteredBy: "keith"
      }
  }

  motel.debitAmount = function(lastDay, dayCost, prepaidBalance) {
    if (lastDay) {
      if (prepaidBalance == dayCost) {
        return dayCost;
      } else {
        return prepaidBalance;
      }
    } else {
      return dayCost;
    }
  }

  function moneyFormat(amount) {
    return "$" + amount;
  }

  motel.generate = function() {
    this.entries = [];
    this.entry = 0;
    this.amount = twoDecimals(this.amount);

    var checkin = moment(this.checkin), checkout = moment(this.checkout);
    var days = checkout.diff(checkin, "days"), dayCost = twoDecimals(this.amount / days);

    var date = moment(motel.checkin);

    var prepaidBalance = twoDecimals(this.amount - dayCost);
    this.entries.push(this.createAsset({
      date: date,
      debit: moneyFormat(prepaidBalance),
      account: "Prepaid Expense"
    }));
    this.entries.push(this.createMotelExpense({
      date: date,
      debit: moneyFormat(dayCost),
    }));
    this.entries.push(this.createAsset({
      date: date,
      credit: moneyFormat(this.amount),
      account: "Cash"
    }));

    date.add(1, "days");

    for (var i = 0; i < (days - 1); i++) {

      var debitAmount = this.debitAmount(i == (days - 2), dayCost, prepaidBalance);

      this.entries.push(this.createMotelExpense({
        date: date,
        debit: moneyFormat(debitAmount),
      }));
      this.entries.push(this.createAsset({
        date: date,
        credit: moneyFormat(debitAmount),
        account: "Prepaid Expense"
      }));

      date.add(1, "days");

      prepaidBalance = twoDecimals(prepaidBalance - debitAmount);
    }

    if (prepaidBalance != 0.00) {
      throw "Prepaid not zero; bug in code";
    }

    var csv = Papa.unparse(this.entries);
    console.log(csv);

  }

  $scope.motel = motel;
  $scope.funds = [ "All", "General", "BSF 2013-14" ];

});
</script>
</html>
